.EmoFilter {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-evenly;

  &__title {
    width: 120px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    line-height: 54px;
  }

  &__emotion {
    font-size: 20px;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 3px solid #E3E3E3;
    margin-right: 10px;
    padding-top: 6px;
    padding-left: 2px;
    user-select: none;
    transition: border .3s;

    &:hover {
      cursor: pointer;
    }

    &--active {
      border: 3px solid #394b59;
    }
  }
}