.Home {
  display: flex;
  align-items: flex-start;
  padding: 20px;

  &__button {
    background-color: #4ECDC4;
    padding: 15px;
    margin-right: 10px;
    border-radius: 10px;
    display: block;
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.backIcon {
  position: absolute;
  left: 20px;
  cursor: pointer;
  top: 15px;
}
