*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.App {
    height: 100vh;
    text-align: center;
    display: flex;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #4ECDC4;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.Sidepanz {
    width: 20%;
    border-right: 1px solid slategray;
    height: 100vh;
    overflow-y: scroll;
}

.ElementList {
    padding: 0;
    list-style: none;
    margin: 0;
}

.Element {
    text-decoration: none;
    border: 1px solid darkgrey;
    padding: 20px;
    color: white;
}

.Element:hover {
    box-shadow: 0 0 0 1px rgba(16, 22, 26, .2), 0 2px 4px rgba(16, 22, 26, .4), 0 8px 24px rgba(16, 22, 26, .4);
}
